.pt_hms_order_modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt_hms_order_modal .modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-height: 70vh;
    background-color: #fefefe;
    border: 1px solid #888;
    overflow-y: auto;
}

.pt_hms_order_modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
}

.pt_hms_order_modal .close:hover,
.pt_hms_order_modal .close:focus {
    color: #000;
    text-decoration: none;
}

.pt_hms_order_modal label,
.pt_hms_order_modal input,
.pt_hms_order_modal select,
.pt_hms_order_modal button {
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.pt_hms_order_modal input,
.pt_hms_order_modal select {
    border: 1px solid #ccc;
    flex: 1;
}

.pt_hms_order_modal button#ptc-submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.pt_hms_order_modal textarea#ptc_wc_shipping_address {
    width: 100%;
}

.pt_hms_order_modal button#submit-button:hover {
    background-color: #45a049;
}

/* Custom Modal Styles */

#ptc-custom-modal .courier-settings {
    margin-bottom: 20px;
}

#ptc-custom-modal .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 15px;
    /* Negative margin for gutter */
}

#ptc-custom-modal .form-group {
    flex: 1;
    padding: 0 10px;
    /* Gutter */
    min-width: 200px;
    /* Prevent squishing */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#ptc-custom-modal .form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

#ptc-custom-modal .form-group .form-input {
    width: 100%;
}

#ptc-custom-modal .form-group input,
#ptc-custom-modal .form-group select,
#ptc-custom-modal .form-group textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    /* Consistent height */
    margin: 0;
    padding: 0 12px;
    /* reduced vertical padding */
    line-height: 40px;
    /* Vertically center text for inputs/selects */
    vertical-align: middle;
}

#ptc-custom-modal .form-group textarea {
    height: 80px;
    /* Taller for textareas */
    resize: vertical;
    padding: 8px 12px;
    line-height: 1.4;
}

/* Specific overrides */
#ptc-custom-modal .form-group.ptc-full-width {
    flex: 1 1 100%;
}

.pt-field-error-message {
    display: none;
    color: red;
}

.ptc-modal-bulk-order {
    padding: 50px;
    margin: 0 auto;
    max-width: 960px;
    background: white;
    /*overflow-x: auto;*/
}

.ptc-modal-bulk-order td {
    position: relative;
}


.ptc-modal-bulk-order input {
    width: 100%;
}

.ptc-item-btn {
    float: right;
}

/* Tooltip container */
.ptc-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

/* Tooltip text */
.ptc-tooltip .ptc-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the icon */
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    font-weight: normal;
}

/* Tooltip arrow */
.ptc-tooltip .ptc-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when hovering */
.ptc-tooltip:hover .ptc-tooltiptext {
    visibility: visible;
    opacity: 1;
}